<template>
    <v-container>
        <v-layout justify-center>
            <v-flex 
                id="onHoldBin" 
                mr-1
                shrink
                @drop="dragPlayerEndHold"
                @dragover.prevent
            >
                <v-layout
                    v-for="player in onHoldPlayers"
                    :key="player"
                    justify-center
                >
                    <div 
                        class="waitingSquare elevation-3"
                        @dragstart="startPlayerDrag(-1, player, 'on hold')"
                        @dragend="endPlayerDrag"
                        draggable="true"
                        @click="unHoldPlayer(player)"
                    >
                        <v-layout fill-height justify-center align-center>
                            <v-flex shrink>
                                {{player}}
                            </v-flex>
                        </v-layout>
                    </div>
                </v-layout>
            </v-flex>
            <v-flex shrink>
                <div style="width:330px; display:inline-block;">
                    <v-layout>
                        <!-- <game-square
                            :player-name="playerName(4)"
                            :player-index="4"
                            @player-out="playerOut(4)"
                        ></game-square> -->
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(4, playerName(4), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(4)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(4)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(3, playerName(3), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(3)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(3)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(2, playerName(2), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(2)"    
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(2)}}
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-layout>
                    <v-layout >
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(5, playerName(5), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(5)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(5)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(0, playerName(0), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(0)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(0)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(1, playerName(1), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(1)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(1)}}
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-layout>
                    <v-layout >
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(6, playerName(6), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(6)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(6)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(7, playerName(7), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(7)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(7)}}
                                </v-flex>
                            </v-layout>
                        </div>
                        <div 
                            class="gameSquare elevation-3"
                            @dragstart="startPlayerDrag(8, playerName(8), 'playing')"
                            @dragend="endPlayerDrag"
                            draggable="true"
                            @click="playerOut(8)"
                        >
                            <v-layout fill-height justify-center align-center>
                                <v-flex shrink>
                                    {{playerName(8)}}
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <v-layout justify-center>
                                <v-btn
                                    color="error"
                                    :disabled="!undoAvailable"
                                    @click="undo"
                                >
                                    Undo
                                </v-btn>
                                <v-btn
                                    color="success"
                                    :disabled="true"
                                >
                                    Fix
                                </v-btn>
                            </v-layout>
                            <v-layout justify-center>
                                <v-btn
                                    @click="inactivePlayerDialog = true"
                                >
                                    Inactive Players
                                </v-btn>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </div>
            </v-flex>
            <v-flex
                id="waitingBin" 
                ml-1
                shrink
                @drop="dragPlayerEndOut"
                @dragover.prevent
            >
                <v-layout
                    v-for="(player, index) in waitingPlayers"
                    :key="player"
                    justify-center
                >
                    <div 
                        class="waitingSquare elevation-3"
                        @dragstart="startPlayerDrag((index + 9), player, 'waiting')"
                        @dragend="endPlayerDrag"
                        draggable="true"
                        @click="playerOnHold(index + 9)"
                    >
                        <v-layout fill-height justify-center align-center>
                            <v-flex shrink>
                                {{player}}
                            </v-flex>
                        </v-layout>
                    </div>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-dialog
            v-model="inactivePlayerDialog"
            max-width="400"
        >
            <v-card>
                <v-toolbar>
                    <v-toolbar-title>On Hold Players</v-toolbar-title>
                </v-toolbar>
                <v-container>
                    <v-layout justify-center row wrap>
                        <v-flex 
                            shrink
                            v-for="player in remainingInactivePlayers"
                            :key="player"
                        >
                            <div
                                class="waitingSquare elevation-3"
                                @click="addPlayer(player)"
                            >
                                <v-layout fill-height justify-center align-center>
                                    <v-flex shrink>
                                        {{player}}
                                    </v-flex>
                                </v-layout>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
// Polyfill to make drag and drop work correctly on mobile
import {dragDrop} from 'drag-drop-touch'

import GameSquare from '@/components/9Square/gameMode/GameSquare'

export default {
    data () {
        return {
            activePlayers: [],
            inactivePlayers: [
                'John',
                'Bob',
                'Dan',
                'Jill',
                'Alex',
                'Stephanie',
                'Alexander',
                'Joe',
                'Braak',
                'Zorak',
                'Space Ghost',
                'Steve', 
                'Gordon'
            ],
            gameLog: [],
            onHoldPlayers: [],
            draggingPlayer: {
                name: '',
                index: -1,
                type: '',
                killingPlayer: ''
            },
            inactivePlayerDialog: false
        }
    },
    computed: {
        waitingPlayers () {
            var returnList = []
            if (this.activePlayers.length > 9) {
                returnList = this.activePlayers.slice(9)
            }
            return returnList
        },
        remainingInactivePlayers () {
            var self = this
            var players = []
            this.inactivePlayers.forEach(player => {
                if (!self.activePlayers.includes(player)
                    && !self.onHoldPlayers.includes(player)
                ) {
                    players.push(player)
                } 
            })
            return players
        },
        undoAvailable () {
            return this.gameLog.length > 1
        }
    },
    methods: {
        playerName (playerIndex) {
            if (this.activePlayers.length >= playerIndex + 1) {
                return this.activePlayers[playerIndex]
            } else {
                return ''
            }
        },
        startPlayerDrag (playerIndex, playerName, playerType) {
            this.draggingPlayer = {
                index: playerIndex,
                name: playerName,
                type: playerType,
                killingPlayer: ''
            }
        },
        endPlayerDrag () {
            this.draggingPlayer = {
                index: -1,
                name: '',
                type: '',
                killingPlayer: ''
            }
        },
        dragPlayerEndOut () {
            if (this.draggingPlayer.type == 'on hold') {
                this.unHoldPlayer(this.draggingPlayer.name)
            } else if (this.draggingPlayer.type == 'playing') {
                this.playerOut(this.draggingPlayer.index)
            }
            this.endPlayerDrag()
        },
        dragPlayerEndHold (event) {
            if (this.draggingPlayer.type != 'on hold') {
                this.playerOnHold(this.draggingPlayer.index)
                this.endPlayerDrag()
            }
        },
        playerOut (playerIndex) {
            if (this.activePlayers.length >= playerIndex + 1) {
                var playerName = this.activePlayers.splice(playerIndex, 1)[0]
                this.activePlayers.push(playerName)
                this.updateGameLog('out')
            }
        },
        playerOnHold (playerIndex) {
            this.onHoldPlayers.push(this.activePlayers[playerIndex])
            this.activePlayers.splice(playerIndex, 1)
            this.updateGameLog('on hold')
        },
        unHoldPlayer (playerName) {
            var playerIndex = this.onHoldPlayers.findIndex(element => {
                return element == playerName
            })
            this.onHoldPlayers.splice(playerIndex, 1)
            this.activePlayers.push(playerName)
            this.updateGameLog('active player')
        },
        addPlayer (playerName) {
            this.activePlayers.push(playerName)
            this.updateGameLog('new player')
        },
        undo () {
            if (this.undoAvailable) {
                this.gameLog.splice(-1, 1)

                this.activePlayers = this.gameLog.slice(-1)[0].activePlayers.slice()
                this.onHoldPlayers = this.gameLog.slice(-1)[0].onHoldPlayers.slice()
            }
        },
        updateGameLog (changeType) {
            console.log('before update')
            console.log(this.gameLog.slice(0))
            this.gameLog.push({
                changeType: changeType,
                killingPlayer: this.draggingPlayer.killingPlayer,
                activePlayers: this.activePlayers.slice(0),
                onHoldPlayers: this.onHoldPlayers.slice(0)
            })
            console.log('update')
            console.log(this.gameLog.slice(0))
        }
    },
    mounted () {
        this.updateGameLog('start game')
    },
    components: {
        GameSquare
    }
}
</script>


<style scoped>
    .gameSquare {
        width: 100px;
        height: 100px;
        background: #42A5F5;
        margin: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        font-size: larger;
    }
    .waitingSquare {
        width: 100px;
        height:40px;
        background: #F5F5F5;
        margin: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
    }
    #onHoldBin {
        min-height: 300px;
        width: 110px;
        background: #E0E0E0;
        border-radius: 2px;
    }
    #waitingBin {
        min-height: 300px;
        width: 110px;
        background: #BBDEFB;
        border-radius: 2px;
    }
</style>
