<template>
    <apexchart height="422" :options="options" :series="series"></apexchart>
</template>

<script>
import Vue from 'vue'
import VueApexCharts from 'vue-apexcharts'

Vue.component('apexchart', VueApexCharts)

export default {
    data () {
        return {
            options: {
                chart: {
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: false
                    }
                },
                stroke: {
                    curve: 'straight'
                },
                xaxis: {
                    type: 'datetime',
                    title: {
                        text: 'Time'
                    }
                },
                yaxis: {
                    min: 0,
                    title: {
                        text: 'Voltage'
                    }
                }
            }
        }
    },
    computed: {
        series () {
            return [{
                name: 'Voltage',
                data: this.$store.getters['SolarDesk/solarDesk'].currentData
            }]
        }
    }
}
</script>
