<template>
    <v-container>
        <v-layout align-center>
            <v-flex xs6>
                <h1 class="headline text-uppercase">9-Square</h1>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex>
                <v-tabs
                    v-model="currentTab"
                    centered
                >
                    <v-tab
                        v-for="tab in tabs"
                        :key="tab.title"
                    >
                        {{tab.title}}
                    </v-tab>
                    <v-tabs-items touchless>
                        <v-tab-item
                            v-for="tab in tabs"
                            :key="tab.title"
                            :touchless="true"
                        >
                            <component :is="tab.component"></component>
                        </v-tab-item>
                    </v-tabs-items>
                </v-tabs>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import Leaderboard from '@/components/9Square/Leaderboard'
import Stats from '@/components/9Square/Stats'
import GameMode from '@/components/9Square/GameMode'

export default {
    data () {
        return {
            tabs: [
                {title:'Leaderboard', component: Leaderboard},
                {title:'Stats', component: Stats},
                {title:'Game Mode', component: GameMode},
            ],
            currentTab: 'Game Mode'
        }
    }
}
</script>
