<template>
    <v-container>
        <v-layout align-center>
            <v-flex xs6>
                <h1 class="headline text-uppercase">Solar Desk</h1>
            </v-flex>
            <v-flex xs3 offset-xs3>
                <v-menu
                    v-model="datePicker"
                    :close-on-content-click="false"
                    lazy
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <!-- <v-text-field
                            :value="formattedDate"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field> -->
                        <v-btn
                            color="info"
                            @click="datePicker = true"
                        >
                            {{formattedDate}}
                        </v-btn>
                    </template>
                    <v-date-picker 
                        v-model="dateToView" 
                        landscape
                        @input="updateDate"
                    ></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex>
                <solar-graph></solar-graph>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import SolarGraph from '@/components/solarDesk/SolarGraph'

export default {
    data () {
        return {
            datePicker: false,
            dateToView: new Date().toISOString().substr(0, 10)
        }
    },
    computed: {
        formattedDate () {
            return this.formatDate(this.dateToView)
        }
    },
    methods: {
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        updateDate () {
            this.datePicker = false
            this.getSolarData()
        },
        getSolarData () {
            this.$store.dispatch('SolarDesk/getSolarData', this.formattedDate)
            .then(response => {
                console.log(response)
            })
        }
    },
    mounted () {
        this.getSolarData()
    },
    components: {
        SolarGraph
    }
}
</script>