<template>
    <div 
        class="gameSquare elevation-3"
        @click="$emit('playerOut', playerIndex)"
    >
        <v-layout fill-height justify-center align-center>
            <v-flex shrink>
                {{playerName}}
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
export default {
    props: ['playerName', 'playerIndex']
}
</script>

<style scoped>
    .gameSquare {
        width: 100px;
        height: 100px;
        background: #42A5F5;
        margin: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        font-size: larger;
    }
</style>
