<template>
	<v-app>
		<div ref="fullscreen">
			<v-toolbar app dense>
				<v-toolbar-title class="headline text-uppercase">
					<span>Dans</span>
					<span class="font-weight-light">Desk</span>
				</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-side-icon 
					class="hidden-lg-and-up"
					@click="navDrawer = true"
				></v-toolbar-side-icon>
			</v-toolbar>
			<v-navigation-drawer 
				app 
				right 
				v-model="navDrawer"
			>
				<v-list>
					<v-list-tile>
						<v-list-tile-content>
							<v-list-tile-title>Apps</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</v-list>
				<v-divider></v-divider>
				<v-list>
					<v-list-tile 
						v-for="item in items"
						:key="item.title"
						:to="item.link"
					>
						<v-list-tile-action>
							<v-icon>{{item.icon}}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>{{item.title}}</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</v-list>
			</v-navigation-drawer>
			<v-content>
				<router-view/>
				<v-speed-dial
					v-model="actionButton"
					bottom right
					direction="top"
					transition="scale"
					fixed
				>
					<template v-slot:activator>
						<v-btn
							v-model="actionButton"
							color="blue darken-2"
							dark
							fab
						>
						<v-icon>widgets</v-icon>
						<v-icon>close</v-icon>
						</v-btn>
					</template>
					<v-btn
						fab
						dark
						small
						color="grey"
						@click="toggleFullScreen"
					>
						<v-icon>{{fullScreen ? 'fullscreen_exit' : 'fullscreen'}}</v-icon>
					</v-btn>
				</v-speed-dial>
			</v-content>
		</div>
	</v-app>
</template>

<script>
import fullscreen from 'vue-fullscreen'
import Vue from 'vue'
Vue.use(fullscreen)

export default {
	name: 'App',
	data () {
		return {
			navDrawer: null,
			items: [
				{ title: 'SolarDesk', icon: 'brightness_low', link: '/solardesk'},
				{ title: '9-Square', icon: 'grid_on', link: '/9square'}
			],
			actionButton: false,
			fullScreen: document.webkitIsFullScreen
		}
	},
	methods: {
		toggleFullScreen () {
			// if (!this.fullScreen) {
			// 	// document.documentElement.webkitRequestFullScreen()

			// } else {
			// 	document.webkitCancelFullScreen()
			// }
			this.$fullscreen.toggle(document.body, {
				wrap: true,
				callback: this.fullscreenChange
			})
			this.fullScreen = !this.fullScreen
		},
		fullscreenChange (fullscreen) {
			this.fullscreen = fullscreen
		}
	},
	components: {
		
	}
}
</script>
